body{
    background-image: url(content/imgs/1716562726205.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#cinta-blanca{
    width: 100%;
    height: auto;
    background-color:aliceblue;
}

#cinta-naranja{
    width: 100%;
    height: auto;
    background-color:orange;
}