body{
    width: 100%;
    height: 100%;
    background-image: url(content/imgs/1717095384702.png);
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment:fixed;
    position: relative;
}

#cinta-blanca{
    width: 100%;
    height: auto;
    background-color:aliceblue;
}

#cinta-naranja{
    width: 100%;
    height: auto;
    background-color:orange;
}